form {
  width: 30%;
  border: 1px solid #333;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 3px;
  color: #fff;
  background-color: #666;

  .field {
    width: 90%;
    margin: 0 1rem 0 0;
    padding: 0.75rem;
    display: flex;
    justify-content: space-between;

    input {
      width: 70%;
    }

    label {
      margin-left: 0;
      padding-left: 0;
    }
  }

  .formButton{
    margin: 0.5rem 0 0.5rem 1rem;
    outline: none;
    border: none;
    padding: 0.5rem;
    background-color: limegreen;
  }
}